
.social_btn{
    width: 240px;
    height: 56px;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    border: 1px solid lightgray;
    
}
.google_btn{
    margin-left: 30px;
}
.social_btn img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}